#product-overview {
  background-image: url("images/freedom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% 30%;
  background-origin: border-box;
  background-clip: border-box;
  width: 100%;
  height: 528px;
  padding: 10px;
  margin-top: 43px;
  position: relative;
}

#product-overview h1 {
  color: #ececec;
  font-family: "Anton", sans-serif;
  position: absolute;
  bottom: 1%;
  left: 3%;
  z-index: 0;
}

.plans-tittle {
  color: #2ddf5c;
  text-align: center;
}

.plan__lists {
  width: 80%;
  margin: auto;
  text-align: center;
}

.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan--highlighted {
  background: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
  color: green;
  background: white;
  padding: 7px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__tittle {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.plan--highlighted .plan__tittle {
  color: white;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan__features li {
  margin: 8px 0;
}

.button {
  background: #0e4f1f;
  color: white;
  font: inherit;
  padding: 8px;
  border: 1.5px solid #0e4f1f;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.button:hover,
.button:active {
  color: #0e4f1f;
  background: white;
}

.button:focus {
  outline: none;
}

#key-features {
  background: #ff1b68;
  margin-top: 80px;
  padding: 16px;
}

#key-features .plans-tittle {
  color: white;
  margin: 32px;
}

.key-features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.key-feature {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.key-feature___image {
  background: #f7d5d5;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 2px solid #424242;
  margin: auto;
  padding: 20px;
}

.key-feature___description {
  font-weight: bold;
  color: #e6e6fa;
  font-size: 18px;
}
