#product-overview {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url("images/freedom.jpg") center / cover no-repeat border-box, #ff1b68;
  width: 100vw;
  height: 35vh;
  position: relative;
}

#product-overview h1 {
  color: #ececec;
  font-family: "Anton", sans-serif;
  position: absolute;
  bottom: 1%;
  left: 3%;
  font-size: 1.3rem;
}

@media (min-width: 44rem) and (min-height: 40rem) {
  #product-overview {
    height: 45vh;
    background-position: 50% 25%;
  }

  #product-overview h1 {
    font-size: 2rem;
  }
}

.plans-tittle {
  color: #2ddf5c;
  text-align: center;
}

.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem 0;
  width: 100%;
}

.plan--highlighted {
  background: #19b84c;
  color: white;
}

.plan__annotation {
  color: green;
  background: white;
  padding: 0.4rem;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 44rem) {
  .plan__lists {
    width: 100%;
    text-align: center;
  }
  .plan {
    display: inline-block;
    width: 30%;
    margin: 0.5rem;
    vertical-align: middle;
    min-width: 13rem;
    max-width: 25rem;
  }
  .plan--highlighted {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
}

.plan__tittle {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.plan--highlighted .plan__tittle {
  color: white;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan__features li {
  margin: 0.5rem 0;
}

#key-features {
  background: #ff1b68;
  margin-top: 5rem;
  padding: 1rem;
}

#key-features .plans-tittle {
  color: white;
  margin: 2rem;
}

.key-features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

@media (min-width: 44rem) {
  .key-feature {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    max-width: 25rem;
  }
}

.key-feature___image {
  background: #f7d5d5;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 2px solid #424242;
  margin: auto;
  padding: 1.3rem;
}

.key-feature___description {
  font-weight: bold;
  color: #e6e6fa;
  font-size: 1.1rem;
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}
