main {
  padding-top: 2rem;
}

.background {
  background: url("../images/plans-background.jpg") center/cover;
  filter: grayscale(50%);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.package {
  margin: 1rem 0;
  width: 80%;
  border: 3px solid #0e4f1f;
  position: relative;
}

.package a {
  text-decoration: none;
  display: block;
  color: inherit;
  padding: 2rem;
}

.package__badge {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1.2rem;
  font-size: 1rem;
  text-align: center;
  background: #ff5454;
  color: white;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.package__subtitle {
  color: #979797;
}

.package__info {
  padding: 1rem;
  border: 1px solid #0e4f1f;
  font-size: 1.2rem;
  color: #0e4f1f;
  background: white;
}

.clearfix {
  clear: both;
}

#plus {
  background: rgba(213, 255, 220, 0.95);
  border-left: none;
}

#free {
  background: rgba(234, 252, 237, 0.95);
  float: right;
  border-right: none;
  text-align: right;
}

#premium {
  background: rgba(14, 79, 31, 0.95);
  border-left: none;
}

#premium .package__title {
  color: white;
}

#premium .package__subtitle {
  color: #bbb;
}

.package:hover,
.package:active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-color: #ff5454;
}

@media (min-width: 44rem) {
  main {
    max-width: 1500px;
    margin: 3rem auto;
  }
}

@media (min-width: 1500px) {
  #plus {
    border-left: 3px solid #0e4f1f;
  }

  #plus:hover,
  #plus:active {
    border-left-color: #ff5454;
  }

  #free {
    border-right: 3px solid #0e4f1f;
  }

  #free:hover,
  #free:active {
    border-right-color: #ff5454;
  }

  #premium {
    border-left: 3px solid #0e4f1f;
  }

  #premium:hover,
  #premium:active {
    border-left-color: #ff5454;
  }
}
